<h2>Fonix API</h2><br>
<h2>Fonix API Dashboard</h2>

<%- if flash[:error] %>
<div class='alert alert-danger'><%= flash[:error] %></div>
<% elsif flash[:success] %>
<div class='alert alert-success'><%= flash[:success] %></div>
<% end %>

<div class="container">
  <% if @fonix_auth.errors.any? %>
  <div class='alert alert-danger'>
    <p>Please rectify the following errors:</p>
    <ul>
      <% @fonix_auth.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <%= form_for :mobile_number, url:  fonix_auth_index_url do |f| %>
      <div id="verifyNumber" class='form-group'>
        <%= f.label :mobile_number %>
        <%= f.text_field :mobile_number, class: 'form-control', placeholder: 'Mobile Number' %>
        <%= f.hidden_field :user_id, :value => @current_user.id %>
      </div>

      <div class='form-group'>
        <%= f.submit 'Validate Number', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>

</div>

<%= link_to 'Click here to log out.', logout_path %>
